<launch>
    <arg name="nanosam_specific_id_path" default="$(find empty_space_estimation)/io/config/nanosam.yaml"/>
    <arg name="vizualize" default="false"/>

    <!-- nanosam-->
    <include file="$(find nanosam_detection)/launch/hsr_head_rgbd_nanosam_service.launch">
        <arg name="action_name" default="/object_detection_nanosam"/>
        <arg name="specific_id" default="$(arg nanosam_specific_id_path)"/>
    </include>

    <!-- space estimation server -->
    <node pkg="empty_space_estimation" type="space_estimation_server.py" name="space_estimation" output='screen'>
        <param name="vizualize" value="$(arg vizualize)"/>
    </node>
</launch>